APP_NAME=ASEAN_AI_Event_Portal
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://openpg:openpgpwd@localhost:5432/event
APP_SECRET_KEY=change_me
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

FRONTEND_URL=http://localhost:3000

PROJECT_TIMEZONE=Asia/Bangkok
